@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

section {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
	background-color: #e0e0e0;
	overflow: hidden;
}

.container-typing {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-typing p {
	font-size: 2rem;
	padding: 0.5rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	text-align: center;
	overflow: hidden;
}

.container-typing p span.typed-text {
	font-weight: normal;
	color: #dd7732;
}

.container-typing p span.cursor {
	display: inline-block;
	background-color: #ccc;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}

.container-typing p span.cursor.typing {
	animation: none;
}

@keyframes blink {
	0%  { background-color: #ccc; }
	49% { background-color: #ccc; }
	50% { background-color: transparent; }
	99% { background-color: transparent; }
	100%  { background-color: #ccc; }
}

.container {
	display: flex;
	flex-direction: column;
	width: 50%;
	max-height: 100vh;
	border-radius: 10px;
	background: linear-gradient(145deg, #cbcbcb, #f2f2f2);
	box-shadow:  5px 5px 10px #737373,
	             -5px -5px 10px #ffffff;
	/*position: relative;*/
}

.header {
	/*transform: translateY(-120px);*/
	display: flex;
	/*border: 1px solid black;*/
	justify-content: center;
	z-index: 5;
	padding: 20px 0;
}

.header .isian {
	border-radius: 2em;
	text-align: center;
	height: 25px;
	border: none;
	width: 50%;
	background: linear-gradient(145deg, #cbcbcb, #f2f2f2);
	box-shadow:  5px 5px 10px #a7a7a7,
             -5px -5px 10px #ffffff;
    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header::after {
	display: table;
	clear: both;
}

.tombol {
	display: flex;
	/*position: fixed;
	top: 20px;*/
}

.button {
	width: 60px;
	height: 25px;
	/*border: 1px solid black;*/
	border-radius: 2em;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	margin: 0 5px;
	background: #e2e2e2;
	box-shadow:  5px 5px 10px #a7a7a7,
	             -5px -5px 10px #ffffff;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	background-color: green;
	color: white;
}

ul {
	width: 100%;
	list-style: none;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
}

ul li {
	width: 100%;
	height: 30px;
	/*border: 1px solid black;*/
	line-height: 30px;
	font-size: 14px;
	text-indent: 20px;
	text-transform: capitalize;
	/* make the list items unselectable */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	position: relative;
	margin-top: 5px;
	/*display: none;*/
}

ul li:nth-child(even) {
	background: rgba( 247, 247, 247, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13.0px );
	-webkit-backdrop-filter: blur( 13.0px );
	/*border-radius: 10px;*/
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

ul li:nth-child(odd) {
	background: rgba( 247, 247, 247, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13.0px );
	-webkit-backdrop-filter: blur( 13.0px );
	/*border-radius: 10px;*/
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

ul li:hover {
	background-color: rgba(0,0,0,0.04);
}

ul li.checked {
	text-decoration: line-through;
	background-color: rgba(0,170,0,0.3);
}

ul li span.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 	30px;
	height: 30px;
	font-size: 35px;
	text-indent: 5px;
	/*border: 1px solid black;*/
}

ul li span.close:hover {
	background-color: #f44336;
	color: white;	
}

/*mobile version*/
@media only screen and (max-width: 576px) {
	.container {
		width: 100%;
	}
}














